<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Textantworten</title>
</head>
<body>
<h1>Fragebewertung</h1>
<form action="/save" method="post">
    <input type="hidden" name="answerId" th:value="${id}">
    <div>
        <h2 th:text="${textanswer.frageTitel}"></h2>
        <p><strong>Aufgabe:</strong> <span th:text="${textanswer.frageTask}"></span></p>
        <p><strong>Musterlösung:</strong></p>
        <pre th:text="${textanswer.musterLoesung}"></pre>
        <p><strong>Antwort:</strong></p>
        <textarea th:text="${textanswer.antwort}" rows="5" cols="50" readonly></textarea>
    </div>
    <div>
        <label for="points">Maximal mögliche Punkte <span th:text="${textanswer.maxPoints}"></span>):</label>
        <input type="number" id="points" name="points" th:value="${textanswer.points}" th:max="${textanswer.maxPoints}" step="0.1">
    </div>
    <button type="submit">Speichern</button>
</form>
</body>
</html>
