<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>success</title>
    <link rel="stylesheet" th:href="@{bootstrap.min.css}" href="../../static/bootstrap.min.css">
</head>
<body class="bg-light">
<div class="container text-center mt-5">
  <h1 class="text-success">Test erfolgreich erstellt!</h1>
  <p class="mt-3 fs-5">Der Test wurde korrekt gespeichert und ist nun bereit zur Nutzung.</p>
  <a href="/" class="btn btn-primary mt-4">Zurück zur Startseite</a>
</div>
</body>
</html>