<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz erstellen</title>
    <link rel="stylesheet" th:href="@{bootstrap.min.css}" href="../../static/bootstrap.min.css">
</head>
<body class="bg-light">
<div class="container">
    <h1 class="py-3">Jetzt einen neuen Test erstellen</h1>
    <div class="container">
        <form th:object="${quiz}" th:action="@{/create-test}" method="post">
            <div class="mb-3">
                <label class="form-label" for="quizTestName">Testname:</label>
                <input class="form-control w-25" type="text" id="quizTestName" th:field="*{quizName}">
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Test erstellen</button>
            </div>
        </form>
    </div>

</div>
</body>
</html>