<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hauptseite</title>
</head>
<body>
<div>
    <h1 style="font-size: 60px">Hauptseite</h1>
    <p>
        <a style="margin-left: 20px; font-size: 25px" href="/student">Student </a>
    </p>
    <p>
        <a style="margin-left: 20px; font-size: 25px" href="/korrektor">Korrektor </a>
    </p>
    <p>
        <a style="margin-left: 20px; font-size: 25px" href="/organisator">Organisator </a>
    </p>
</div>

</body>
</html>